.developers-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.developers-list .developer {
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding: 8px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  color: inherit;
}

.developers-list .developer .info a {
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid var(--heading-color);
}

.developers-list .developer .info .available {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background: #0ebb50;
  border-radius: 50%;
}
.developers-list .developer .info .hired {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background: #fa6a3f;
  border-radius: 50%;
}

.developers-list .developer .info .avatar {
  width: 30px;
  height: 30px;
}

.developers-list .developer .info h4 {
  font-size: 0.9em;
  color: var(--heading-color);
}

.developers-list .developer .info ul {
  display: flex;
  justify-content: space-between;
}

.developers-list .developer .info li {
  margin-right: 10px;
}

.developers-list .developer .actions-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.developers-list .developer .actions-list li {
  cursor: pointer;
  color: var(--highlight-color);
}
