/* Modal */
.modal .dark-bg {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.modal .centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal .centered .modal-body {
  width: 250px;
  height: 170px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal .centered .modal-body .modal-header {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal .centered .modal-body .modal-header .heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modal .centered .modal-body .modal-content {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modal .centered .modal-body .modal-actions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.modal .centered .modal-body .modal-actions .actions-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal
  .centered
  .modal-body
  .modal-actions
  .actions-container
  .close-btn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}
